<!DOCTYPE html>
<html lang="en">

<head>
    <title>
    {% block title %} Flask-WTF Form {% endblock %}
    </title>
</head>

<body>
        <h1>Flask-WTF Registration Form</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
<!-- In Flask templates using Jinja, 
this line retrieves all flashed messages 
along with their categories and stores them in a temporary 
variable called messages for use inside the template block. -->
    {% if messages %}
            {% for category, msg in messages %}
            <p style="color: green;">{{ msg }}</p>
            {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>